In [1]:
import pandas as pd

In [21]:
url = 'https://github.com/sagelab4data/first_da_2021_1/blob/main/CARD_SUBWAY_MONTH_202102.csv?raw=true'
subway = pd.read_csv(url,
                     engine = "python", index_col = False,
                    parse_dates=['사용일자', '등록일자'])
subway

            사용일자  노선명   역명  승차총승객수  하차총승객수       등록일자
0     2021-02-01  중앙선   용문    1282    1259 2021-02-04
1     2021-02-01  중앙선   지평      48      43 2021-02-04
2     2021-02-01  중앙선   아신     415     413 2021-02-04
3     2021-02-01  중앙선   양수    1463    1466 2021-02-04
4     2021-02-01  중앙선  운길산     495     463 2021-02-04
...          ...  ...  ...     ...     ...        ...
16746 2021-02-28  중앙선   오빈     216     236 2021-03-03
16747 2021-02-28  중앙선   양평    3299    3187 2021-03-03
16748 2021-02-28  중앙선   원덕     322     304 2021-03-03
16749 2021-02-28  중앙선   용문    1899    1716 2021-03-03
16750 2021-02-28  중앙선   지평      30      31 2021-03-03

[16751 rows x 6 columns]

In [14]:
#url = 
subway = pd.read_csv('CARD_SUBWAY_MONTH_202102.csv',engine='python',
                     #encoding = 'utf_8',
                    parse_dates=['사용일자'])
subway

         사용일자  노선명    역명  승차총승객수    하차총승객수  등록일자
20210201  중앙선   용문  1282    1259  20210204   NaN
20210201  중앙선   지평    48      43  20210204   NaN
20210201  중앙선   아신   415     413  20210204   NaN
20210201  중앙선   양수  1463    1466  20210204   NaN
20210201  중앙선  운길산   495     463  20210204   NaN
...       ...  ...   ...     ...       ...   ...
20210228  중앙선   오빈   216     236  20210303   NaN
20210228  중앙선   양평  3299    3187  20210303   NaN
20210228  중앙선   원덕   322     304  20210303   NaN
20210228  중앙선   용문  1899    1716  20210303   NaN
20210228  중앙선   지평    30      31  20210303   NaN

[16751 rows x 6 columns]